@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(31,50,65);
  background-image: linear-gradient(100deg,rgb(109, 5, 255),299deg, rgb(30, 50, 65));
  color: white;
  
}
.container{
  max-width: 95vw;
  margin: auto;
  padding: 20px;
  
}

@media (max-width: 991.98px){
  .container{
    /* width: 95vw; */
    padding: 0;
  }
}
/* @media (max-width: 600px){
  .container{
    width: 98vw;
    padding: 5px;
  }
} */